@using Roc.CMS.Web.Areas.Sys.Models.Common.Modals
@Html.Partial("~/Areas/Sys/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("MODAL HEADER"))

<div class="modal-body">
    TODO: Modal Content
</div>

@Html.Partial("~/Areas/Sys/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
