@using Roc.CMS
@using Roc.CMS.Web.Areas.AppAreaName.Models.Layout
@using Roc.CMS.Web.Theme
@model FooterViewModel
@inject IUiThemeCustomizer UiThemeCustomizer
@{
    Layout = null;
    string footerSkin = UiThemeCustomizer.FooterSkin;
    if (!string.IsNullOrEmpty(footerSkin))
    {
        footerSkin = "m-brand--skin-" + footerSkin;
    }
}
<footer class="m-grid__item m-footer @footerSkin">
    <div class="m-container m-container--fluid m-container--full-height m-page__container">
        <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
            <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                <span class="m-footer__copyright">
                    @Model.GetProductNameWithEdition() <br />
                    v@(AppVersionHelper.Version) [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]
                </span>
            </div>
            <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
            </div>
        </div>
    </div>
</footer>